/* design styles */
body{
    font-family: "Source Sans Pro", "Arial", "Helvetica", "Geneva", sans-serif;
    font-size: 14px;
}
.settings-title{
    background: #f5f7fa;
    padding: 0 10px;
    font-weight: 600;
    margin: 10px 0;
    height: 40px;
    line-height: 40px;
    color: #121821de;
}
.settings-group{
    margin: 5px;
    padding: 5px;
}
.setting-text{
    margin: 10px 0;
}
#scale-number{
    width: 40px;
    margin: 0 5px;
    text-align: center;
}
#scale-color-list{
    list-style: none;
    padding-left: 15px;
}
.scale-color-option{
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120px;
}
#colorCodes{
    display:none;
}